﻿@model BallaratGO.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>
<div id="RegisterPage" class="row">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 id="registerHeading">Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="hide">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
            </div>
        </div>
        <div class="form-group">
            <div class="hide">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            </div>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
            </div>
        <div class="form-group">
            <div class="hide">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            </div>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="registerButton" type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
