﻿@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url('http://fonts.googleapis.com/css?family=Wallpoet');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 50%;
    text-align: center;
    background-color: #fff;
}

body {
  padding-right: 0px !important
}

.modal-open {
  overflow-y: auto;
}

/* container */
div.container {
    max-width: 1024px;
    background-color: #eee;
}

/* header */
/*div.header {
    margin-top: 20px;
    font-size: 30px;
    position: relative;
}

div.header .light{
    font-weight: 300;
}

div.header .bold{
    font-weight: 900;
}

div.header div.navButton {
    position: absolute;
    right: 0px;
    top: -1px;
}

div.header hr {
    margin-bottom: 10px;
}*/

/* Nav Header */
.navbar-header {
    background-color: #1b4164;
    border-bottom: 1px solid #1b4164;
}

.navbar-brand {
    color: #fff !important;
    font-size: 31px;
    padding-top: 20px;
}

.navButton {
    font-size: 30px;
    padding: 0px;
    color: #fff !important;
}

.navbar-collapse {
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    background-color: #fff;
}

    .navbar-collapse ul > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        color: #000;
        text-align: left;
    }

#userSettings::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    content: "\f007";
}

#logOut::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    content: "\f08b";
}

.navbar-nav {
    margin: 0px;
}

.navbar-collapse.in {
    padding: 0px;
}

#menuBreak {
    margin: 0px;
}

.logo {
    text-align: left;
    color: #fff;
    font-size: 30px;
    padding-left: 15px;
    padding-top: 9px;
}

    .logo .ballarat {
        font-weight: 300;
    }

    .logo .go {
        font-weight: 900;
        font-style: italic;
        /*font-family: 'Bauhaus';*/
    }

/* info */
div .info {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

    div.info .distance,
    div.info .locations,
    div.info .score {
        width: 33.3%;
        float: left;
        text-align: center;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }

.bold {
    font-weight: 800;
}

.icon {
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: 21px;
}

.data {
    text-align: center;
    padding-left: 29px;
}

.panel {
    margin-bottom: 10px;
}

/* info modals */
#myModalDistance p {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 30px;
}

#myModalLocations p {
    font-size: 50px;
    font-weight: 700;
    margin-top: 15px;
}

#myModalScore p {
    font-size: 50px;
    font-weight: 700;
    margin-top: 15px;
}

.table-striped {
    text-align: left;
}

    .table-striped span {
        float: right;
    }

#checkedIn,
#distance,
#location,
#score {
    margin-right: 10px;
}

#social {
    font-size: 45px;
    font-size: 45px;
}

#myModalCheckIn h1 {
    font-weight: bold;
    margin-top: 0px;
}

/* Main Container */
.mainContainer {
    padding-top: 60px;
    width: 100%;
    float: left;
    position: relative;
}

/* debug */
.debug {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Roboto Mono', sans-serif;
}

/* POI Items */

.activeTarget {
    /*color: #23ab25;*/
    color: #1b4164;
}

.inactiveTarget {
    color: #cccccc;
}

.poiHeading {
    text-align: left;
    font-size: 19px;
}

.poiGroup {
    margin-bottom: 10px;
    width: 100%;
    float: left;
}

.pointsOfInterest {
    float: left;
    width: 100%;
}

.poiItem {
    position: relative;
    text-align: left;
    padding-left: 81px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.poiAngle {
    position: absolute;
    top: -1px;
    left: 16px;
    font-size: 61px;
}

.poiDiestance,
.poiText {
    display: block;
}

.poiDistance {
    font-size: 30px;
}

.poiButton {
    position: absolute;
    padding: 10px;
    top: 11px;
    right: 14px;
    /*background-color: #428bca;*/
}

/* Log In Page */
.rememberMe {
    float: left;
    font-size: 15px;
}

#loginButton {
    width: 100%;
}

#loginPage {
    background-color: #fff;
}

#pleaseSignIn {
    margin-top: 70px;
}

/* Register Page */
#registerHeading {
    margin-top: 70px;
}

#registerButton {
    margin-top: 20px;
    width: 100%;
}

#RegisterPage {
    padding: 0 15px 0;
    background-color: #fff;
}

.hide {
    display: none;
}

.bscLogo {
    width: 28px;
    margin-top: -5px;
}