﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BallaratGO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/331e5be3ad.js"></script>
    <script src="/Scripts/fulltilt.min.js"></script>
    <script src="/Scripts/knockout-3.4.0.js"></script>
    <script src="/Scripts/main.js"></script>

</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navButton" data-toggle="collapse" data-target=".navbar-collapse">
                    @*<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>*@
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                @*@Html.ActionLink("Ballarat GO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <div class="logo">
                    <img class="bscLogo" src="/Content/ballarat_city_council.svg" alt="Ballarat City Council">
                    <span class="ballarat">Ballarat</span><span class="go">GO</span>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @*<div class="container">
        <div class="header">
            <div class="title">
                <span class="light">Ballarat</span>
                <span class="bold">GO</span>
            </div>
            <div class="navButton">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <hr />
        </div>
    </div>*@

        <div class="container body-content">
            @RenderBody()

            @*<footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
