﻿@{
    ViewBag.Title = "Home Page";
}

<div class="mainContainer">
    @*<div class="debug">
        direction debug: <br /><span id="direction2"></span>
    </div>*@

    <div class="info">
        <div class="panel panel-default distance" data-toggle="modal" data-target="#myModalDistance">
            <div class="icon">
                <i class="fa fa-road" aria-hidden="true"></i>
            </div>
            <div class="data">
                <div class="distanceValue bold">
                    3.2km
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModalDistance" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i id="distance" class="fa fa-road" aria-hidden="true"></i>Distance Travled</h4>
                    </div>
                    <div class="modal-body">
                        <p>3.2km</p>
                        <h5>Duration 13min</h5>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="panel panel-default locations" data-toggle="modal" data-target="#myModalLocations">
            <div class="icon">
                <i class="fa fa-flag" aria-hidden="true"></i>
            </div>
            <div class="data">
                <div class="locationsValue bold">
                    3
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModalLocations" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i id="location" class="fa fa-flag" aria-hidden="true"></i>Locations Visited</h4>
                    </div>
                    <div class="modal-body">
                        <p>3</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Locations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>POI 1</td>
                                </tr>
                                <tr>
                                    <td>POI 2</td>
                                </tr>
                                <tr>
                                    <td>POI 3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="panel panel-default score" data-toggle="modal" data-target="#myModalScore">
            <div class="icon">
                <i class="fa fa-trophy" aria-hidden="true"></i>
            </div>
            <div class="data">
                <div class="scoreValue bold">
                    220
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModalScore" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i id="score" class="fa fa-trophy" aria-hidden="true"></i>Your Score</h4>
                    </div>
                    <div class="modal-body">
                        <p>220</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Leaderboard</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Player 1<span>5610</span></td>
                                </tr>
                                <tr>
                                    <td>Player 2<span>3420</span></td>
                                </tr>
                                <tr>
                                    <td>Player 3<span>2310</span></td>
                                </tr>
                                <tr>
                                    <td>Player 4<span>990</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
                </div>
            </div>
        </div>

    </div>

    <div class="poiGroup">
        <div class="poiHeading">
            Nearby
        </div>

        <div class="pointsOfInterest">
            <div class="panel panel-default">
                <div class="panel-body poiItem">
                    <span id="test" class="poiAngle"><i class="fa fa-arrow-circle-up activeTarget" aria-hidden="true"></i></span>
                    <strong><span class="poiDistance">5m</span></strong>
                    <span class="poiText">POI Item 1</span>
                    <button type="button" class="btn btn-default poiButton btn-success" data-toggle="modal" data-target="#myModalCheckIn">Check In</button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModalCheckIn" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header alert alert-success">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><i id="checkedIn"class="fa fa-check-square-o" aria-hidden="true"></i>Checked In</h4>
                        </div>
                        <div class="modal-body">
                            <h1>Well Done!</h1>
                            <h3>Location</h3>
                            <p>POS 1</p>
                            <h3>Description</h3>
                            <p>POS 1 Description</p>
                            <h3>Points</h3>
                            <p>150</p>
                            <h3>Share</h3>
                            <div id="social">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                        </div>
                        @*<div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body poiItem inactiveTarget">
                    <span class="poiAngle"><i class="fa fa-arrow-circle-up inactiveTarget" aria-hidden="true"></i></span>
                    <strong><span class="poiDistance">20m</span></strong>
                    <span class="poiText">POI Item 2</span>
                    @*<button type="button" class="btn btn-default poiButton">Check In</button>*@
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body poiItem inactiveTarget">
                    <span class="poiAngle"><i class="fa fa-arrow-circle-up inactiveTarget" aria-hidden="true"></i></span>
                    <strong><span class="poiDistance">231m</span></strong>
                    <span class="poiText">POI Item 3</span>
                    @*<button type="button" class="btn btn-default poiButton">Check In</button>*@
                </div>
            </div>
        </div>
    </div>

    <div class="poiGroup">
        <div class="poiHeading">
            Further Away
        </div>

        <div class="pointsOfInterest">
            <div class="panel panel-default">
                <div class="panel-body poiItem inactiveTarget">
                    <span id="test" class="poiAngle"><i class="fa fa-arrow-circle-up inactiveTarget" aria-hidden="true"></i></span>
                    <strong><span class="poiDistance">1.2km</span></strong>
                    <span class="poiText">POI Item 4</span>
                    @*<button type="button" class="btn btn-default poiButton">Check In</button>*@
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body poiItem inactiveTarget">
                    <span class="poiAngle"><i class="fa fa-arrow-circle-up inactiveTarget" aria-hidden="true"></i></span>
                    <strong><span class="poiDistance">5.3km</span></strong>
                    <span class="poiText">POI Item 5</span>
                    @*<button type="button" class="btn btn-default poiButton">Check In</button>*@
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body poiItem inactiveTarget">
                    <span class="poiAngle"><i class="fa fa-arrow-circle-up inactiveTarget" aria-hidden="true"></i></span>
                    <strong><span class="poiDistance">12.8km</span></strong>
                    <span class="poiText">POI Item 6</span>
                    @*<button type="button" class="btn btn-default poiButton">Check In</button>*@
                </div>
            </div>
        </div>
    </div>
</div>